<div class="tought-form-container">
    <a href="/toughts/dashboard">voltar</a>

    <h1>Criar pensamento </h1>

    <form action="/toughts/add" method="post">
    
        <div class="form-control">
            <label for="title">O que você está pensando? </label>
            <input type="text" name="title" placeholder="Digite o seu pensamento">
        </div>

        <input type="submit" value="Pensar">
    </form>
</div>